*{
    margin: 0;
    padding: 0;
    outline: 0;
}

#main{
    padding: 100px;
    background: pink;
    height: 400px;
}
button{ 
    padding: 15px 25px;
    background: white;
    color:black;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
   margin-bottom: 20px;

}
.box{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    background:white;
   border-radius: 10px;
}
.secondbox{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    background:purple;
   border-radius: 10px;
}